body{
    margin: 20px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:15px;
    background-image: url("hatter.jpg");
    opacity: 80%;
    
}
.center {
  margin: auto;
  width: 50%;
  border: 5px solid rgb(93, 104, 93);
  border-radius: 25px; 
  padding: 10px;
  text-align: center;
  background-color: rgb(226, 201, 60);
}
input[type=text] {
    border: 4px solid black;
    border-radius: 8px;  
}
button{
    border: 5px solid black;
}
button:hover{
    opacity: 80%;
    font-style: italic;
    background-color: gray;

}
img{
    opacity: 10%;
}
#megjelenites{
    background-color: white;
}